html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: $font-family-regular;
}

.app {
  width: 100%;

  .app__navbar {
    $navbar-height: 3rem;
    width: 100%;
    height: $navbar-height;
    float: left;
    border-bottom: 2px solid $color-green-default;

    .app__navbar__title {
      height: $navbar-height;
      line-height: $navbar-height;
      margin-left: 1rem;
    }

    ul {
      height: 100%;
      list-style: none;

      li {
        height: 100%;
        line-height: $navbar-height;
        display: inline-block;
        padding: 0 1rem;
        background: $color-green-default;
        cursor: pointer;

        &:hover {
          color: $color-white;
          background: $color-silver;
        }

        a {
          color: $color-white;
        }
      }
    }
  }

  .app__sidebar {
    width: 280px;
    float: left;
  }

  .app__content {
    width: 100%;
    float: left;
    overflow: hidden;
  }
}