.margin-none {
  margin: 0;
}

// Margins top
.margin-top-none {
  margin-top: 0;
}

.margin-top-sm {
  margin-top: .6rem;
}

.margin-top-md {
  margin-top: 1.875rem;
}

.margin-top-lg {
  margin-top: 3.7rem;
}

// Margins bottom
.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-sm {
  margin-bottom: .6rem;
}

.margin-bottom-md {
  margin-bottom: 1.875rem;
}

.margin-bottom-lg {
  margin-bottom: 3.7rem;
}
