# IDEs
.project
.pydevproject
.idea
.vscode
.settings

# Random files
*~
\#*
tags

virtualenv/
htmlcov/
src/static_dist/
src/static_root/

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite

# Node modules
node_modules/
yarn.lock
npm-debug.log

# Coverage 
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# not include scripts because they come from external module
scripts/

# Docker volume data
*.rdb
*.pid
celerybeat-schedule.*
