$color-white: #ffffff;

$color-silver-dark: #828282;
$color-silver: #a5a5a5;
$color-silver-light: #f8f8f8;

$color-purple-default: #77439e;
$color-purple-light: #bc75f3;
$color-purple-light-2: #f5eff9;

$color-red-dark: #d45161;
$color-red: #f27d72;
$color-red-light: #ffafaf;
$color-red-light-2: #ffc5c5;

$color-green-default: #16967a;
$color-green: #89d78f;
$color-green-light: #b3ffd8;
