.alert {
  border-radius: 3px;
  padding: 20px;
  text-align: center;

  &.alert__info {
    color: $color-white;
    background: $color-blue;
  }

  &.alert__error {
    color: $color-white;
    background: $color-red;
  }

  &.alert__success {
    color: $color-white;
    background: $color-green-default;
  }
}