input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $color-silver;
  appearance: none;
  box-shadow: none;
  padding: 6px;

  &:focus {
    border: 1px solid $color-silver-dark;
    outline: none;
  }
}