.side-menu {
  ul {
    list-style: none;
    display: block;

    li {
      padding: .8rem 0 .8rem 1rem;
      cursor: pointer;

      &:hover,
      &.active {
        background: $color-green-default;

        a {
          color: white;
        }
      }
    }
  }
}

