@import "../../styles/config/colors";

.protected {
  .protected__protected-data {
    font-size: 1.6rem;
    float: left;

    b {
      background: $color-red-dark;
      color: $color-white;
      padding: 0 .3rem;
    }
  }
}